.input {
  /* display: block; */
  margin: 2rem auto;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.input label {
  display: block;
  text-align: start;
}

.input input {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 0.5rem;
}
