.goalItem {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
}

.goalContainer {
  background-color: cadetblue;
}

li {
  -webkit-padding-start: 0px;
  margin: auto;
}
