.container {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  width: 600px;
}

@media (max-width: 400px) {
  .container {
    width: 300px;
    display: flex;
  }
}
